.instructionsTextbox {
    border: none;
    color: rgb(0, 63, 13);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(199, 199, 199, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    font-size: Medium;
    text-align: justify;
    text-justify: auto;
    padding: 1em;
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 1em;
    flex-wrap: wrap;
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* IE 10+ */}

#canvasContainer {
    width: 100%;
    position: relative;
    background-image: radial-gradient(circle at center, darkgreen, rgb(8, 22, 8)); 
    margin-top: 1em;
    margin-bottom: 1em;
  }

#dotCanvas {
    background: url('../images/worldmap_640.png');
    width: 100%;
    display: block;
    background-color: transparent;
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}

#device {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    background: url("../images/deviceUpDark.jpg");
    cursor: pointer;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.7);
    display: block;
    background-size: cover;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    border: none;
}

#device.down {
    background: url("../images/deviceDownDark.jpg");
    background-size: cover;}

#device:disabled {
    background: url("../images/deviceDownDark.jpg");
    background-size: cover;
    cursor: not-allowed;}

#device::-moz-focus-inner {
    border: 0;}

.characters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;}

.charactersGuessed-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 3em;}

.charactersTextboxes {
    border: none;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(34, 63, 40, 0.8);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    font-size: larger;
    text-align: center;
    width: 3em;}

.charactersTextboxes--readonly {
    pointer-events: none;
    user-select: none;
    background-color: rgba(75, 75, 75, 0.8);}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;}

.decoder-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;}

.morseTextboxes {
    border: none;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(34, 63, 40, 0.8);
    font-size: x-large;
    letter-spacing: 0.4em;
    user-select: none;}

.calibrate-icon {
    cursor: pointer;
    width: 80px;
    height: 20px;
    background-image: url("../images/calibrateDisabled.png");
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    background-size: cover;}

.calibrate-icon.enabled {
    background-image: url("../images/calibrate.png");}

.deleteLast-icon {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-image: url("../images/deleteLast.png");
    background-size: cover;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}

.exit-icon {
    cursor: pointer;
    background-image: url("../images/exit.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}

.instructions-icon {
    cursor: pointer;
    background-image: url("../images/info-icon.png");
    background-size: cover;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}

.mute-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url("../images/nomute.png");
    background-size: cover;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}

.replay-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("../images/replayDisabled.png");
    background-size: cover;
    margin-left: 1em;}

.replay-button.enabled{
    background-image: url("../images/replay.png");
}

.interceptorButton {
    cursor: pointer;
    width: auto;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    display: block;
    background-color: rgba(5, 54, 1, 0.9);
    border: none;}

.mute-icon.muted {
    background-image: url("../images/mute.png"); 
} 

.metallic{
    color: rgb(0, 66, 17);
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    border-color: #7c7c7c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
       -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
       -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
       
       linear-gradient(180deg, hsl(0,0%,78%)  0%, 
       hsl(0,0%,90%) 47%, 
       hsl(0,0%,78%) 53%,
       hsl(0,0%,70%)100%);}

    .metallic.disabled{
    color: rgb(180, 180, 180);  
    cursor: not-allowed;       
    opacity: 0.6;               
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    border-color: #7c7c7c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
        -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
        
        linear-gradient(180deg, hsl(0,0%,78%)  0%, 
        hsl(0,0%,90%) 47%, 
        hsl(0,0%,78%) 53%,
        hsl(0,0%,70%)100%);}

h1 {color: rgb(150,75,37);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 0em;
    margin-block-start: 0em;
    letter-spacing: 5px;
    background-color: rgba(34, 63, 40, 0.55);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    user-select: none;
    }

h2 {color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    text-align: center;
    padding: 1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    letter-spacing: 0.2em;
    background-color: rgba(34, 63, 40, 0.55);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
    user-select: none;
    margin-top: 0.2em;
    }

    h2.leftAlignment {
        text-align: left;
        background: linear-gradient(to right, rgba(34, 63, 40, 0.55) 33%, rgba(10, 20, 10, 0.55) 100%);
    }
    
    h2.rightAlignment {
        text-align: right;
        background: linear-gradient(to left, rgba(34, 63, 40, 0.55) 33%, rgba(10, 20, 10, 0.55) 100%);
    }

p {color: rgb(109, 109, 109);
    user-select: none;}

   
body {padding: 0.3em;
    background-image: url("../images/midj0191602Darker.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;} 

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);}
    
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(82, 82, 82);
    transition: 0.4s;
    border-radius: 10px; 
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 10px;
    }
    
    input:checked + .slider {
    background-color: green;
    }
    
    input:checked + .slider:before {
    transform: translateX(26px);
    }
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;
    }

#toggleVisibility {
    pointer-events: auto;}


#qrModal,
#modalSpy,
#modalDevice {
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8); /* Dark, semi-transparent background */
    z-index: 99999;
    height: 100%;
    width: 100%;
    display: none; /* Initially hidden */
}

.modalSpy-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xx-large; 
    line-height: 2;   
    transform: translate(-50%, -50%);
    width: 80%;
    padding: 20px;
    text-align: center;
}

.modalDevice-content {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: xx-large; 
    line-height: 2;   
    transform: translate(-50%, -50%);
    width: 80%;
    padding-top: 1vh;
    text-align: center;
}

.modalSpy-content .instructions {
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0.6vw 0.6vw 0.4vw #000, -0.6vw -0.6vw 0.4vw #000, 0.6vw -0.6vw 0.4vw #000, -0.6vw 0.6vw 0.4vw #000,
                 1vw 1vw 0.8vw #000, -1vw -1vw 0.8vw #000, 1vw -1vw 0.8vw #000, -1vw 1vw 0.8vw #000;
}

#instructionModal{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.image-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}


#rolSelection {
    background-image: url('../images/rolesCenter.jpg');
    border: none;
    width: 100%; 
    padding-bottom: 70%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#rolSelection.left {
    background-image: url('../images/rolesLeft.jpg');
    width: 100%; 
    padding-bottom: 70%;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

#rolSelection.right {
    background-image: url('../images/rolesRight.jpg');
    width: 100%; 
    padding-bottom: 70%;
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}