#canvasContainer {
    width: 100%;
    position: relative;
    background-image: radial-gradient(circle at center, darkgreen, rgb(8, 22, 8)); 
    margin-top: 2em;
    margin-bottom: 2em;
  }

#dotCanvas {
    width: 100%;
    display: block;
    background-color: transparent;
    background: url('../images/worldmap_640.png');
    background-size: cover; /* To cover the entire canvas */
}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.calibrate-icon {
    cursor: pointer;
    width: 40px;
    height: 40px; 
}


h1 {color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 1em;}

h2 {color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 1em;}
    
section {margin-bottom: 7em;}
    
p { font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    background: #2B3C42;
    font-size: larger;
    font-weight: bold;
    margin-top: 0em;
    border-style: solid;
    border-radius: 10px;
    padding: 1em;
    filter: drop-shadow(12px 12px 6px rgb(53, 53, 53));}

body {padding: 3em;
    background-image: url("../images/background01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

} 

.grid-container {
    border-radius: 10px;
    display: grid;
    grid-template-columns: 65% 35%;
    grid-template-rows: 20% 80% ; 
    background-color: #d8d8d8;
    padding: 3em; 
    column-gap: 2em;
    row-gap: 1em;
    filter: drop-shadow(12px 12px 10px #5C5C5C);
    text-align: center;}

.flex-container-secretWord {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    border-radius: 10px;
    flex-direction: row;
    width: 100%;
    gap: 0em;
    padding: 1em;
    margin-bottom: 0em;}
  
img {
    max-width: 100%;
    max-height: 100%;}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
  
    }
    
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(109, 109, 109);
    transition: 0.4s;
    border-radius: 10px; 
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 10px;
    }
    
    input:checked + .slider {
    background-color: green;
    }
    
    input:checked + .slider:before {
    transform: translateX(26px);
    }
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;
    }
      



      


/* For mobile devices*/
@media all and (pointer:none) , (pointer:coarse) {

    h1 {margin-top: 0em;
        margin-bottom: 0.3em;}

    body {
        padding: 0.3em;} 

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding: 0.5em;
        border-radius: 10px;}

    .grid-container {
        gap: 0.5em;
        padding: 0.5em;
        column-gap: 0.5em;
        padding-top: 0em;
        padding-left: 0.5em; 
        padding-right: 0.5em; 
        border-radius: 2px;
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;}


    h2 {font-size: large;
        margin-top: 0.2em;}

    p {margin-top: 0em;
        padding: 0.4em;
        font-size: medium;
        min-width: 0.8em;
        border-radius: 3px;
        border-width: 1px; 
        margin-top: 0em;
        margin-bottom: 0.2em;
        filter: drop-shadow(6px 6px 5px rgb(53, 53, 53));}

    section {margin-bottom: 1em;}


               
} 
