.instructionsTextbox {
    border: none;
    color: rgb(0, 63, 13);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(199, 199, 199, 0.8);
    font-size: Large;
    text-align: justify;
    text-justify: auto;
    /* width: 100%; */
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 2em;
    flex-wrap: wrap;}

#canvasContainer {
    width: 100%;
    position: relative;
    background-image: radial-gradient(circle at center, darkgreen, rgb(8, 22, 8)); 
    margin-top: 1em;
    margin-bottom: 1em;
  }

#dotCanvas {
    background: url('../images/worldmap_640.png');
    width: 100%;
    display: block;
    background-color: transparent;
    background-size: cover; /* To cover the entire canvas */
}

#device {
    margin-top: 2em;
    margin-bottom: 2em;
    background: url("../images/deviceUpDarkSmall.jpg");
    cursor: pointer;
    width: 300px;
    height: 300px;
    display: block;
    margin: auto;
    background-size: cover;
    border-radius: 20px;
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    border: none;
}

#device.down {
    background: url("../images/deviceDownDarkSmall.jpg");
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    background-size: cover;}

#device:focus {
  
    width: 300px;
    height: 300px;
    margin: auto;
    display: block;
    background-size: cover;}

/*#device:active {
    width: 300px;
    height: 300px;
    display: block;
    background-size: cover;
    background: url("../images/deviceDown.jpg");
    outline: none;
} */

#device:disabled {
    background-color:  rgba(82, 82, 82, 0.7);
    cursor: not-allowed;
}

#device::-moz-focus-inner {
    border: 0;
}

.characters-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    margin-top: 1em;}

.charactersGuessed-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;}

.charactersTextboxes {
    border: none;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(34, 63, 40, 0.8);
    font-size: larger;
    text-align: center;
    width: 3em;}

.charactersTextboxes--readonly {
    pointer-events: none;
    user-select: none;
    background-color: rgba(75, 75, 75, 0.8);}

.controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 1em;}

.decoder-controls-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    gap: 2em;}

.morseTextboxes {
    border: none;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    background-color: rgba(34, 63, 40, 0.8);
    font-size: x-large;
    letter-spacing: 0.4em;}

.calibrate-icon {
    cursor: pointer;
    width: 80px;
    height: 20px;
    background-image: url("../images/calibrateDisabled.png");
    background-size: cover;}

.calibrate-icon.enabled {
    background-image: url("../images/calibrate.png");}



.exit-icon {
    cursor: pointer;
    height: 30px;
    width: 30px;}

.mute-icon {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("../images/nomute.png");
    background-size: cover;}

.replay-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-image: url("../images/replayDisabled.png");
    background-size: cover;
    margin-left: 1em;}

.replay-button.enabled{
    background-image: url("../images/replay.png");
}

.interceptorButton {
    cursor: pointer;
    width: auto;
    color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    font-size: large;
    display: block;
    background-color: rgba(5, 54, 1, 0.9);
    border: none;}

.mute-icon.muted {
    background-image: url("../images/mute.png"); 
} 

.metallic{
    color: rgb(0, 66, 17);
    cursor: pointer;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    border-color: #7c7c7c;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
       -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
       -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
       
       linear-gradient(180deg, hsl(0,0%,78%)  0%, 
       hsl(0,0%,90%) 47%, 
       hsl(0,0%,78%) 53%,
       hsl(0,0%,70%)100%);
   }

.morseButton {
    cursor: pointer;
    width: 300px;
    height: 300px;
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: rgba(40, 148, 30, 0.9);
    -webkit-tap-highlight-color: transparent;
    touch-action: none;
    border: none;
   }

.morseButton.pressed {
    background-color: rgba(23, 85, 17, 0.9);}
      

.morseButton:focus {
    outline: none;
    border-radius: 50%;
}

.morseButton:active {
    background-color: rgba(23, 85, 17, 0.9);;
    outline: none;
}

.morseButton:disabled {
    background-color:  rgba(82, 82, 82, 0.7);
    cursor: not-allowed;
  }

.morseButton::-moz-focus-inner {
    border: 0;
}



h1 {color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: xx-large;
    margin-bottom: 2em;
    letter-spacing: 3px;
    background-color: rgba(34, 63, 40, 0.55);
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* IE 10+ */}

h2 {color: rgb(199, 199, 199);
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    text-align: center;
    padding: 1em;
    letter-spacing: 2px;
    background-color: rgba(34, 63, 40, 0.55);
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari and Chrome */
    -ms-user-select: none; /* IE 10+ */}

p {color: aliceblue;}
    
body {padding: 3em;
    background-image: url("../images/midj0191602Darker.jpg");
  
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;} 

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 26px;
}
    
    .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    }
    
    .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(82, 82, 82);
    transition: 0.4s;
    border-radius: 10px; 
    }
    
    .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 10px;
    }
    
    input:checked + .slider {
    background-color: green;
    }
    
    input:checked + .slider:before {
    transform: translateX(26px);
    }
    
    .slider.round {
    border-radius: 34px;
    }
    
    .slider.round:before {
    border-radius: 50%;
    }



/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    
  }
  
  /* Modal Content (The Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
      
/* For mobile devices*/
@media all and (pointer:none) , (pointer:coarse) {

    h1 {margin-top: 0em;
        margin-bottom: 0.3em;}

    body {
        padding: 0.3em;} 

    .flex-container {
        flex-direction: column;
        align-items: center;
        gap: 0.2em;
        padding: 0.5em;
        border-radius: 10px;}

    .grid-container {
        gap: 0.5em;
        padding: 0.5em;
        column-gap: 0.5em;
        padding-top: 0em;
        padding-left: 0.5em; 
        padding-right: 0.5em; 
        border-radius: 2px;
        display: grid;
        text-align: center;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;}


    h2 {font-size: large;
        margin-top: 0.2em;}

    p {margin-top: 0em;
        padding: 0.4em;
        font-size: medium;
        min-width: 0.8em;
        border-radius: 3px;
        border-width: 1px; 
        margin-top: 0em;
        margin-bottom: 0.2em;
        filter: drop-shadow(6px 6px 5px rgb(53, 53, 53));}

    section {margin-bottom: 1em;}


               
} 
